body {
    background-color: lightblue;
}


.test{
    color: yellow;
}

.top-nav {
    position: relative;
    background-color: rgb(205, 200, 200);
    backdrop-filter: blur(5px);
    overflow: hidden;
}




.top-nav a {
    float: left;
    color: #272727;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}