<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./static/gallery.css">
    <script src="gallery.js" defer></script>
</head>

<body>
<nav class="top-nav">

    <div class="topnav-centered">
        <a href="" class="analyse">Analyse</a>
        <a href="" class="gallery">Gallery</a>
    </div>


</nav>

<h2>My gallery</h2>
<form action="" class="search-location">
    <i class="bi bi-image-fill"></i>
    <input type="search" placeholder="Search image" onkeyup="sendData(this)" id="serch-input" />
    <button id="search-button" type="submit">Search</button>
</form>
<div id="images">
    <a class="image"><img src="https://imagga.com/static/images/tagging/wind-farm-538576_640.jpg" alt=" " /></a>
    <a class="image"> <img src="https://imagga.com/static/images/tagging/wind-farm-538576_640.jpg" alt=" " /></a>
    <a class="image"><img src="https://imagga.com/static/images/tagging/wind-farm-538576_640.jpg" alt=" " /></a>


</div>


</body>

</html>