<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">

    <title>Title</title>
    <link rel="stylesheet" href="D:/Downloads/ics/src/main/resources/static/homePage.css">
</head>
<body>
<nav>
    <div class="top-nav">


        <div class="topnav-centered">
            <a href="" class="active">Analyse</a>
            <a href="" class="active">Galery</a>

        </div>
    </div>
</nav>

</body>
</html>