<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>View Page</title>
    <link rel="stylesheet" href="viewPage.css">
    <script src="gallery.js" defer></script>
</head>

<body>
<nav>
    <div class="top-nav">
        <div class="topnav-centered">
            <a href="" class="analyse">Analyse</a>
            <a href="" class="gallery">Gallery</a>
        </div>
    </div>
</nav>

<h2>Tags</h2>
<div id="wrapper">
    <img src="https://imagga.com/static/images/tagging/wind-farm-538576_640.jpg" alt=" " />

    <div id="tags">
        <div class="tag">Sky</div>
        <div class="tag">Mountain</div>
        <div class="tag">Snow</div>

    </div>


</div>
<p id="analyse-date">Analyse at: 19.05.2022</p>

</body>

</html>